##########################
# rails model annotations#
##########################
snippet rma
	# Constants
	# Includes
	# Associations
	# Scopes
	# Attributes
	# Accessors
	# Validations
	# Callbacks
	# Class Methods
	# Instance Methods

##########################
# store_attribute types  #
##########################

# overrides
snippet! asn
	assert_not ${1:unexpected}${2:, '${3:Failure message}'}
